.padres strong{
    font-weight: 700;
    color: #000;
}


.padres span{
    font-size: 20px;
}
.bloque_izquierdo img{
    padding-left: 64px;
}

.bloque_derecho{
    padding-right: 40px;
}
.nombre{
    position: relative;
    right: 30%;
    margin: 10px;
}

.correo{
    position: relative;
    right: 48px;
    margin: 10px;
}

.telefono{
    position: relative;
    right: 25%;
    margin: 10px;
}

.cedula{
    position: relative;
    right: 38%;
    margin: 10px;
}

.provincia{
    
        position: relative;
        right: 47%;
        margin: 10px;
}

.canton{
    position: relative;
    /* right: 129px; */
    right: 48%;
    margin: 10px;
}

.distrito{
    position: relative;
    right: 47%;
}

.padres{
    border: 1px solid #b2bec3;
}

.centros h2{
    text-align: center;
    color: #000;
    font-size: 27px;
    margin: 26px 0 32px;
    font-weight: 500px;
   }



  