@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: auto;
  width: 100%;
}




.tituloPrincipal{
  text-align: center;
  font-size: 30px;
  margin: 31px 0px;

}


h1 {
  font-size: 33px;
  margin: 20px 0 16px;
}

h2 {
  font-size: 27px;
  margin: 20px 0 16px;
  color: #17c0eb;
  font-weight: 700;
}



