.controlador .fas{
    position: absolute;
    left: 10px;
    top: 10px;   
}


.fa-user-cog{
    color: #fff;
    font-size: 29px;
    /* margin: 20%; */
    padding: 21px 55px;


}



.fas{
    font-size: 19px;
    cursor:pointer;
    color: #253b80;
    
}
.fas:visited{
    color: red;
}

.fas:hover{
    color: #179bd7;
    font-weight: bold;
font-weight: 900;
 
}


.fa-trash-alt:hover{
    color: #ff6000;
}
.desactivo{
    color: #ff6000;
}