.controlador .fas{
    position: absolute;
    left: 10px;
    top: 10px;   
}


.fa-user-cog{
    color: #fff;
    font-size: 29px;
    /* margin: 20%; */
    padding: 21px 55px;


}



.fa-user-minus{
    font-size: 25px;
    color: #179bd7;
}

