.controlador .fas{
    position: absolute;
    left: 10px;
    top: 10px;   
}


.fa-user-cog{
    color: #fff;
    font-size: 29px;
    /* margin: 20%; */
    padding: 21px 55px;


}

.fa-flask,
.fa-mug-hot,
.fa-user-nurse,
.fa-bus,
.fa-user-friends,
.fa-futbol,
.fa-book,
.fa-music {
  padding: 15px;
}

.fas{
    font-size: 19px;
    cursor:pointer;
    color: #253b80;
    
}
/*

.fas:hover{
    color: #179bd7;
    font-weight: bold;
font-weight: 900;
 
}*/


.fa-trash-alt:hover{
    color: #ff6000;
}
.desactivo{
    color: #ff6000;
}

.faq {
    font-size: 25px;
    color: #fff;
    background: #17c0eb;
    padding: 10px;
    border-radius: 20px;
    float: left;
    position: relative;
    /* right: 0; */
    left: 10px;
    
  }

  .fa-newspaper{
    font-size: 65px;
    color: #253b80;
    /* float: left; */
    padding-left: 19px;
    position: absolute;
    bottom: 56%;
    left: 0;

}


.fa-calendar-check {
    font-size: 61px;
    color: #253b80;
    float: left;
    padding-left: 10px;
    padding-top: 18px;
  }

.fat {
    position: relative;
    left: 49px;
    /* width: 20px; */
    font-size: 22px;
    color: #17c0eb;
  }
  