@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: auto;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 33px;
  margin: 20px 0 16px;
}

h2 {
  font-size: 27px;
  margin: 20px 0 16px;
  color: #17c0eb;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  margin: 16px 0 16px;
}

h4 {
  font-size: 24px;
  margin: 16px 0 4px;
}

h5 {
  font-size: 20px;
  margin: 16px 0 4px;
}

h6 {
  font-size: 16px;
  margin: 16px 0 4px;
}

small {
  color: rgba(0, 0, 0, 0.54);
  vertical-align: bottom;
  font-size: 16px;
}

.contenedor {
  display: flex;
}

.contenedor.cuerpo {
  flex-direction: column;
  height: 100%;
}

.contenedor.contenido {
  height: 250px;
  flex-wrap: wrap;
}

.contenedor.contenido section {
  flex: 27em;
}

.contenedor.contenido section:nth-child(1) {
  text-align: center;
  background: #fff;
  color: #333;
  padding: 0 5%;
  align-self: center;
}

.contenedor.contenido section:nth-child(2) {
  text-align: center;
  background: #fff;
  color: #333;
  padding: 30px 5%;
  align-self: center;
}

.contenedor.contenido section:nth-child(1) img {
  width: 480px;
  padding: 35px;
}

.my__30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

hr {
  border: 0;
  display: block;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.btn {
  width: 100%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #285e8e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 58px;
  min-width: 164px;
  min-height: 36px;
  text-overflow: ellipsis;
  color: rgb(255, 255, 255);
  background-image: none;
  background-color: #3276b1;
  background-repeat: repeat-x;
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  text-decoration: none;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: none;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(137, 137, 137);
  opacity: 0;
  transition: opacity 0.2s;
}

.btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: rgb(137, 137, 137);
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

.btn:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-image: none;
  background-color: #3276b1;
}

.btn:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-image: none;
  background-color: #3276b1;
}

.btn:hover::before {
  opacity: 0.08;
}

.btn:focus::before {
  opacity: 0.24;
}

.btn:hover:focus::before {
  opacity: 0.3;
}

.btn:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

.btn:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  cursor: initial;
}

input {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  width: 100%;
  padding: 5px 24px;
  line-height: 1.5;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  font-size: 1em;
}

input:focus {
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
  cursor: not-allowed;
  opacity: 1;
}

input[readonly] {
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
}

input:focus:invalid {
  border-color: #ea1c0d;
  color: #f44336;
}

input.error_input {
  color: #333;
  border-color: #eb3b5a;
  box-shadow: 0 0 0 .2rem rgba(235, 59, 90, .25);
}

input:not(.error_input):focus {
  color: #333;
  border-color: #80bdff;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

label {
  display: inline-block;
  color: #2c3e50;
  font-size: 19px;
  margin-bottom: 5px;
}

.contenedor.contenido section:nth-child(2) .formulario {
  border: 1px solid #ccc;
  background: #ecf0f1;
  background: rgba(236, 240, 241, 0.60);
  padding: 15px 30px;
  -webkit-box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
  -moz-box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
  -khtml-box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
  -o-box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
  -ms-box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
  box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
  border: 1px solid rgba(27, 31, 35, .15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.contenedor.contenido section:nth-child(2) .controlador {
  margin-bottom: 20px;
}


