<<<<<<< HEAD
<<<<<<< HEAD
#cards_centros {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
}


#cards_centros div {
    width: 250px;
    height: 320px;
=======
#cards_centros div {
    width: 295px;
    height: 355px;
>>>>>>> parent of 4477e80... Merge branch 'master' of https://github.com/JAMSproyecto/SegundaIteracion
=======
#cards_centros div {
    width: 295px;
    height: 355px;
>>>>>>> parent of 4477e80... Merge branch 'master' of https://github.com/JAMSproyecto/SegundaIteracion
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
}

div h1 {
    font-size: 18px;
    text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
#cards_centros span {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
};

=======
=======
>>>>>>> parent of 4477e80... Merge branch 'master' of https://github.com/JAMSproyecto/SegundaIteracion
h2 {
text-align: right;
}

.text__center {
	text-align:center;
}
>>>>>>> parent of 4477e80... Merge branch 'master' of https://github.com/JAMSproyecto/SegundaIteracion


