table {
    border-collapse: separate;
   
    width: 1000px;
    margin: 30px auto;
  }
  th,
  td {
    padding: 10px 5px;
    text-align: center;
  }
  th {
    height: 35px;
    font-size:20px;
    background: #17c0eb;
    color: #fff;
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
  }
  tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  td, th {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
  }
  td:first-child {
    border-left: 1px solid #c6c9cc;
  }
  tr:nth-child(even) td {
    background: #eaeaed;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
  
  .bloque_filtro {
    text-align: right;
    padding: 15px;
    width: 80%;
    margin: auto;
  }
  
  .bloque_filtro label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
  }